<template>
  <section id="education" class="education section">
    <h2 class="section-title">EDUCACIÓN</h2>
    <div class="education__container bg-grid">
      <div class="education__content">
        <div class="education__time">
          <span class="education__rounder"> </span>
          <span class="education__line"></span>
        </div>
        <div class="education__data bd-grid">
          <h3 class="education__title">FP DUAL Desarrollo de Aplicaciones WEB</h3>
          <span class="education__studies">IES Fernando Wirtz Suárez </span>
          <span class="education__year">2018 - 2020</span>
        </div>
      </div>
      <div class="education__content">
        <div class="education__time">
          <span class="education__rounder"> </span>
          <!-- <span class="education__line"></span> -->
        </div>
        <div class="education__data bd-grid">
          <h3 class="education__title">FP Sistemas Microinformáticos y Redes</h3>
          <span class="education__studies">IES Fernando Wirtz Suárez</span>
          <span class="education__year">2016 - 2018</span>
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Education',
});
</script>

<style scoped></style>
