<template>
  <section id="home" class="home">
    <div class="home__container section bd-grid">
      <div class="home__data">
        <picture>
          <source srcset="../../assets/profile_img/perfil.avif" type="image/avif" />
          <source srcset="../../assets/profile_img/perfil.webp" type="image/webp" />
          <img
            src="../../assets/profile_img/perfil.jpg"
            loading="lazy"
            alt="perfil"
            class="home__img"
            width="120px"
            height="120px"
          />
        </picture>
        <h1 class="home__title">HAMILTON MERCADO CUELLAR</h1>
        <h2 class="home__profession">Developer</h2>
        <!-- Button to download the pdf. Available for mobile. -->
        <div>
          <a download="" href="hamiltonmercadocuellarCV.pdf" class="home__button-movil"
            >Descargar</a
          >
        </div>
      </div>
    </div>
    <div class="home__address bd-grid">
      <span class="home__information"> <i class="bx bx-map home__icon"></i>A Coruña - España </span>
      <span class="home__information">
        <a href="mailto:hamiltonmercadocuellar@gmail.com" class="home__link">
          <i class="bx bx-envelope home__icon"></i>
          hamiltonmercadocuellar@gmail.com
        </a>
      </span>
      <!-- <span class="home__information">
                <a href="tel:+34648759635" class="home__link">
                  <i class="bx bx-phone home__icon"></i> 648-759-635
                </a>
              </span>
              <span class="home__information">
                <i class="bx bxs-user-rectangle home__icon"></i>
                DNI - 49675826 N
              </span> -->
    </div>
    <!-- Theme change button -->
    <i id="theme-button" class="bx bx-moon change-theme" tittle="Theme" @click="changeTheme"></i>
    <!-- Button to generate and download the pdf. Available for desktop. -->
    <i
      id="resume-button"
      class="bx bx-download generate-pdf"
      tittle="Generate PDF"
      @click="exportToPDF"
    ></i>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
  name: 'Home',
  emits: ['change-theme', 'export-to-pdf'],
  setup: (_, { emit }) => {
    const changeTheme = (event: Event) => {
      emit('change-theme', event);
    };
    const exportToPDF = (event: Event) => {
      emit('export-to-pdf', event);
    };

    return { changeTheme, exportToPDF };
  },
});
</script>
