<template>
  <section id="profile" class="profile section">
    <h2 class="section-title">PERFIL</h2>
    <p class="profile__description">
      Hola, soy Hamilton, desarrollador. Aprendiendo cada día algo nuevo e intentado dar lo mejor de
      mí.
    </p>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Profile',
});
</script>

<style scoped></style>
