<template>
  <section id="skills" class="skills section">
    <h2 class="section-title">Soft skills</h2>
    <div class="skills_content bd-grid">
      <ul class="skills_data">
        <li class="skills__name">
          Desarrollo centrado en implementar la experiencia de usuario UX/ UI
        </li>
        <li class="skills__name">
          <span class="skills__circle"> </span> Desarrollo siguiendo metodologías Ágiles
        </li>
      </ul>
      <ul class="skills_data">
        <li class="skills__name"><span class="skills__circle"> </span> Aprendizaje continuo</li>
        <li class="skills__name"><span class="skills__circle"> </span> Clean Code</li>
        <li class="skills__name"><span class="skills__circle"> </span>Compromiso</li>
        <li class="skills__name"><span class="skills__circle"> </span>Trabajo en equipo</li>
        <li class="skills__name"><span class="skills__circle"> </span> Pair Programming</li>
      </ul>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Skills',
});
</script>

<style scoped></style>
