<template>
  <section class="social section">
    <h2 class="section-title">SOCIAL</h2>
    <div class="social__container bd-grid">
      <a
        href="https://www.linkedin.com/in/hamelhmc/"
        target="_blank"
        rel="noopener noreferrer"
        class="social__link"
      >
        <i class="bx bxl-linkedin-square social__icon"></i>@hamelhmc
      </a>
      <a
        href="https://github.com/Hamelshmc"
        target="_blank"
        rel="noopener noreferrer"
        class="social__link"
      >
        <i class="bx bxl-github social__icon"></i>@hamelshmc
      </a>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Social',
});
</script>

<style scoped></style>
