<template>
  <section id="certificates" class="certificate section">
    <h2 class="section-title">CURSOS</h2>
    <div class="certificate__container bd-grid">
      <div class="certificate__content">
        <h3 class="certificate__title">BOOTCAMP | HACKABOSS</h3>
        <p class="certificate__description">
          Curso Intensivo de Programación Full Stack. Conocimientos adquiridos: Javascript (ES6) -
          SQL - HTML - CSS - GIT - ReactJS - Node.js - Pair programming - Metodologias Ágiles - GIT
          introducción y avanzado - Marca Personal
        </p>
      </div>
    </div>
    <div class="certificate__container bd-grid">
      <div class="certificate__content">
        <h3 class="certificate__title">Curso de Vue.js + Vuex y testing | FICTIZIA</h3>
        <p class="certificate__description">Curso Intensivo VueJS.</p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Certificates',
};
</script>

<style lang="scss" scoped></style>
