<template>
  <section id="experience" class="experience section">
    <h2 class="section-title">EXPERIENCIA</h2>
    <div class="experience__container bd-grid">
      <div class="experience__content">
        <div class="experience__time">
          <span class="experience__rounder"></span>
          <span class="experience__line"></span>
        </div>
        <div class="experience__data bd-grid">
          <h3 class="experience__title">Frontend Developer</h3>
          <span class="experience__company">
            03-2021 - actualmente | Servicios Reunidos. Expertos en punto de venta
          </span>
          <span class="experience__description">
            Javascript, VueJS 3, NodeJS, GraphQL (Hasura), MongoDB, SASS, Docker ,Web Scraping,
            PostgreSQL
          </span>
        </div>
      </div>
      <div class="experience__content">
        <div class="experience__time">
          <span class="experience__rounder"></span>
          <span class="experience__line"></span>
        </div>
        <div class="experience__data bd-grid">
          <h3 class="experience__title">Desarrollador/a de aplicaciones web Junior</h3>
          <span class="experience__company">03-2020 a 09-2020 | Indra Sistemas S.A </span>
          <span class="experience__description">
            Angular - REST APIs con .NET / C# - Metodología ágil SCRUM - GitLab - Visual Studio Code
            - Visual code community - SQL Management Studio - Chrome DevTools - Microsoft Teams -
            SASS
          </span>
        </div>
      </div>
      <div class="experience__content">
        <div class="experience__time">
          <span class="experience__rounder"> </span>
          <!-- <span class="experience__line"></span> -->
        </div>
        <div class="experience__data bd-grid">
          <h3 class="experience__title">Desarrollador/a de aplicaciones web Junior</h3>
          <span class="experience__company">03-2019 a 09-2019 | Indra Sistemas S.A </span>
          <!-- <span class="experience__description"></span> -->
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Experience',
});
</script>

<style scoped></style>
