<template>
  <section class="interests section">
    <h2 class="section-title">Hobbies</h2>
    <div class="interests__container bd-grid">
      <div class="interests__content">
        <i class="bx bx-headphone interests__icon"></i>
        <span class="interests__name">Musica</span>
      </div>
      <div class="interests__content">
        <i class="bx bxs-plane interests__icon"></i>
        <span class="interests__name">Viajar</span>
      </div>
      <div class="interests__content">
        <i class="bx bx-dumbbell interests__icon"></i>
        <span class="interests__name">GYM</span>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Interests',
});
</script>

<style scoped></style>
