<template>
  <section class="languages section">
    <h2 class="section-title">Hard skills</h2>
    <div class="languages_content bd-grid">
      <ul class="languages_data">
        <li class="languages__name">
          <img
            alt="javascript"
            loading="lazy"
            src="../../assets/icons/javascript.svg"
            class="languages__circle"
            width="20"
            height="20"
          />JavaScript
        </li>
        <li class="languages__name">
          <img
            alt="html"
            loading="lazy"
            src="../../assets/icons/html-5.svg"
            class="languages__circle"
            width="20"
            height="20"
          />
          HTML
        </li>
        <li class="languages__name">
          <img
            alt="css"
            loading="lazy"
            src="../../assets/icons/css-3.svg"
            class="languages__circle"
            width="20"
            height="20"
          />
          CSS
        </li>
        <li class="languages__name">
          <img
            alt="vuejs"
            loading="lazy"
            src="../../assets/icons/vue.svg"
            class="languages__circle"
            width="20"
            height="20"
          />VueJS
        </li>
      </ul>
      <ul class="languages_data">
        <li class="languages__name">
          <img
            alt="angular"
            loading="lazy"
            src="../../assets/icons/angular-icon.svg"
            class="languages__circle"
            width="20"
            height="20"
          />Angular
        </li>
        <li class="languages__name">
          <img
            alt="reactjs"
            loading="lazy"
            src="../../assets/icons/react.svg"
            class="languages__circle"
            width="20"
            height="20"
          />ReactJS
        </li>
        <li class="languages__name">
          <img
            alt="springboot"
            loading="lazy"
            src="../../assets/icons/graphql.svg"
            class="languages__circle"
            width="20"
            height="20"
          />GraphQL
        </li>
        <li class="languages__name">
          <img
            alt="SQL"
            loading="lazy"
            src="../../assets/icons/mysql.svg"
            class="languages__circle"
            width="20"
            height="20"
          />
          SQL
        </li>
      </ul>
      <ul class="languages_data">
        <li class="languages__name">
          <img
            alt=".NET"
            loading="lazy"
            src="../../assets/icons/dotnet.svg"
            class="languages__circle"
            width="20"
            height="20"
          />
          .NET | C#
        </li>
        <li class="languages__name">
          <img
            alt="nodejs"
            loading="lazy"
            src="../../assets/icons/nodejs-icon.svg"
            class="languages__circle"
            width="20"
            height="20"
          />
          NodeJS
        </li>
      </ul>
      <ul class="languages_data">
        <li class="languages__name">
          <img
            alt="Mongo DB"
            loading="lazy"
            src="../../assets/icons/mongodb.svg"
            class="languages__circle"
            width="70"
            height="20"
          />
          Mongo DB
        </li>
        <li class="languages__name">
          <img
            alt="PostgreSQL"
            loading="lazy"
            src="../../assets/icons/postgresql.svg"
            class="languages__circle"
            width="20"
            height="20"
          />
          PostgreSQL
        </li>
      </ul>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Languages',
});
</script>

<style scoped></style>
