<template>
  <section class="languages section">
    <h2 class="section-title">Tools</h2>
    <div class="languages_content bd-grid">
      <ul class="languages_data">
        <li class="languages__name">
          <img
            alt="VisualStudioCode"
            loading="lazy"
            src="../../assets/icons/visual-studio-code.svg"
            class="languages__circle"
            width=""
            height="25px"
          />Visual Studio Code
        </li>
        <li class="languages__name">
          <img
            alt="Visual Studio"
            loading="lazy"
            src="../../assets/icons/visual-studio.svg"
            class="languages__circle"
            width=""
            height="25px"
          />
          Visual Studio
        </li>
        <li class="languages__name">
          <img
            alt="git"
            loading="lazy"
            src="../../assets/icons/git-icon.svg"
            class="languages__circle"
            width=""
            height="25px"
          />
          GIT
        </li>
      </ul>
      <ul class="languages_data">
        <li class="languages__name">
          <img
            alt="GITHUB"
            loading="lazy"
            src="../../assets/icons/github-icon.svg"
            class="languages__circle"
            width=""
            height="25px"
          />GITHUB
        </li>
        <li class="languages__name">
          <img
            alt="GITLAB"
            loading="lazy"
            src="../../assets/icons/gitlab.svg"
            class="languages__circle"
            width=""
            height="25px"
          />GITLAB
        </li>
        <li class="languages__name">
          <img
            alt="TERMINAL"
            loading="lazy"
            src="../../assets/icons/terminal.svg"
            class="languages__circle"
            width=""
            height="25px"
          />TERMINAL
        </li>
      </ul>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Tools',
});
</script>

<style scoped></style>
