<script setup lang="ts">
  import { ManfredModel } from '@/CV/model/manfred-model'
  import html2pdf from 'html2pdf.js'
  import { onMounted, ref } from 'vue'

  const pdfArea = ref(null)
  const userData = ref<ManfredModel | null>(null)

  const darkTheme = 'dark-theme'
  const optionsHtml2PDF = {
    margin: 0,
    filename: 'HAMILTON_MERCADO_CUELLAR_CV.pdf',
    pagebreak: { mode: ['css', 'legacy'] },
    enableLinks: true,
    image: { type: 'jpeg', quality: 0.98 },
    html2canvas: { scale: 2 },
    jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
  }

  const scaleCV = () => {
    document.body.classList.add('scale-cv')
  }

  const removeScale = () => {
    document.body.classList.remove('scale-cv')
  }

  const generateResume = () => {
    html2pdf(pdfArea.value, optionsHtml2PDF)
  }

  const exportToPDF = async () => {
    scaleCV()
    generateResume()
    setTimeout(removeScale, 5000)
  }

  const changeTheme = () => {
    document.body.classList.toggle(darkTheme)
  }

  async function getManfredData() {
    const response = await fetch(
      'https://raw.githubusercontent.com/hamelhmc/manfred/main/CV/MAC.json'
    )
    userData.value = (await response.json()) ?? null
  }

  function formatDescription(description: string) {
    return description ? description.replace(/\n/g, '<br />') : description
  }

  function renderIcon(name: string) {
    return new URL(`./CV/assets/icons/${name.toLocaleLowerCase()}.svg`, import.meta.url).href
  }

  onMounted(getManfredData)
</script>

<template>
  <!--========== HEADER ==========-->
  <header class="l-header" id="header">
    <nav class="nav bd-container">
      <a href="#" class="nav__logo">
        {{ userData?.aboutMe.profile.title }}
      </a>
    </nav>
  </header>
  <main class="l-main bd-container">
    <!-- All elements within this div, is generated in PDF -->
    <div class="resume" id="area-cv">
      <div class="resume__left">
        <!--========== HOME ==========-->
        <section id="home" class="home">
          <div class="home__container section bd-grid">
            <div class="home__data">
              <picture>
                <source srcset="./CV/assets/profile_img/perfil.avif" type="image/avif" />
                <source srcset="./CV/assets/profile_img/perfil.webp" type="image/webp" />
                <img
                  :src="userData?.aboutMe.profile.avatar.link"
                  loading="lazy"
                  :alt="userData?.aboutMe.profile.avatar.alt"
                  class="home__img"
                  width="120px"
                  height="120px" />
              </picture>
              <h1 class="home__title">
                {{ userData?.aboutMe.profile.name }} {{ userData?.aboutMe.profile.surnames }}
              </h1>
              <h2 class="home__profession">{{ userData?.aboutMe.profile.title }}</h2>
              <!-- Button to download the pdf. Available for mobile. -->
              <div>
                <a download="" href="HAMILTON_MERCADO_CUELLAR_CV.pdf" class="home__button-movil">
                  Descargar
                </a>
              </div>
            </div>
          </div>
          <div class="home__address bd-grid">
            <span class="home__information">
              <i class="bx bx-map home__icon"></i>
              {{ userData?.aboutMe.profile.location.municipality }} -
              {{ userData?.aboutMe.profile.location.region }}
            </span>
            <span class="home__information">
              <a href="mailto:hamiltonmercadocuellar@gmail.com" class="home__link">
                <i class="bx bx-envelope home__icon"></i>
                {{ userData?.careerPreferences.contact.contactMails[0] }}
              </a>
            </span>
            <!-- <span class="home__information">
                <a href="tel:+34648759635" class="home__link">
                  <i class="bx bx-phone home__icon"></i> 648-759-635
                </a>
              </span>
              <span class="home__information">
                <i class="bx bxs-user-rectangle home__icon"></i>
                DNI - 49675826 N
              </span> -->
          </div>
          <!-- Theme change button -->
          <i
            id="theme-button"
            class="bx bx-moon change-theme"
            tittle="Theme"
            @click="changeTheme"></i>
          <!-- Button to generate and download the pdf. Available for desktop. -->
          <a download="" href="HAMILTON_MERCADO_CUELLAR_CV.pdf">
            <i id="resume-button" class="bx bx-download generate-pdf" tittle="Generate PDF"> </i>
          </a>
        </section>
        <!--========== SOCIAL ==========-->
        <section class="social section">
          <h2 class="section-title">SOCIAL</h2>
          <div class="social__container bd-grid">
            <a
              v-for="profile in userData?.careerPreferences.contact.publicProfiles"
              :key="profile.URL"
              :href="profile.URL"
              target="_blank"
              rel="noopener noreferrer"
              class="social__link">
              <i :class="['bx', `bxl-${profile.type}`, 'social__icon']"></i>
              hamelhmc
            </a>
          </div>
        </section>
        <!--========== PROFILE ==========-->
        <section class="profile section" id="profile">
          <h2 class="section-title">PERFIL</h2>
          <p
            class="profile__description"
            :innerHTML="formatDescription(userData?.aboutMe.profile.description ?? '')"></p>
        </section>
        <!--========== EDUCATION ==========-->
        <section class="education section" id="education">
          <h2 class="section-title">EDUCACIÓN</h2>
          <div class="education__container bg-grid">
            <div
              class="education__content"
              v-for="study in userData?.knowledge.studies"
              :key="study.name">
              <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
              </div>
              <div class="education__data bd-grid">
                <h3 class="education__title">{{ study.name }}</h3>
                <span class="education__studies">{{ study.institution.name }}</span>
                <span class="education__year">
                  {{ new Date(study.startDate).getFullYear() }} -
                  {{ new Date(study.finishDate).getFullYear() }}
                </span>
              </div>
            </div>
          </div>
        </section>
        <!--========== SKILLS  ==========-->
        <section class="skills section" id="skills">
          <h2 class="section-title">Soft skills</h2>
          <div class="skills_content bd-grid">
            <ul class="skills_data">
              <li
                class="skills__name"
                v-for="skill in userData?.knowledge.softSkills"
                :key="skill.skill.name">
                <span class="skills__circle"> </span> {{ skill.skill.name }}
              </li>
            </ul>
          </div>
        </section>
        <!--========== LANGUAGES ==========-->
        <section class="languages section">
          <h2 class="section-title">Hard skills</h2>
          <div class="languages_content bd-grid">
            <ul
              class="languages_data"
              v-for="(skill, index) in userData?.knowledge.hardSkills"
              :key="index">
              <li class="languages__name">
                <img
                  alt="{{ skill.skill.name }}"
                  loading="lazy"
                  :src="renderIcon(skill.skill.name)"
                  class="languages__circle"
                  width="20"
                  height="20" />
                {{ skill.skill.name }}
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="resume__right">
        <!--========== EXPERIENCE ==========-->
        <section class="experience section" id="experience">
          <h2 class="section-title">EXPERIENCIA</h2>
          <div class="experience__container bd-grid">
            <div
              class="experience__content"
              v-for="(job, index) in userData?.experience.jobs"
              :key="index">
              <div class="experience__time">
                <span class="experience__rounder"></span>
                <span class="experience__line"></span>
              </div>
              <div v-for="role in job.roles" :key="role.name">
                <div class="experience__data bd-grid">
                  <h3 class="experience__title">
                    {{ role.name }}
                  </h3>
                  <span class="experience__company">
                    {{ role.startDate }} - {{ role.finishDate || 'Presente' }} |
                    {{ job.organization.name }}
                  </span>
                  <span class.pau="role.description">
                    <div
                      v-for="challenge in role.challenges"
                      :key="challenge.description"
                      :innerHTML="formatDescription(challenge.description)"></div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--========== INTERESTS ==========-->
        <section class="interests section">
          <h2 class="section-title">Hobbies</h2>
          <div class="interests__container bd-grid">
            <div class="interests__content">
              <i class="bx bx-headphone interests__icon"></i>
              <span class="interests__name">Musica</span>
            </div>
            <div class="interests__content">
              <i class="bx bxs-plane interests__icon"></i>
              <span class="interests__name">Viajar</span>
            </div>
            <div class="interests__content">
              <i class="bx bx-dumbbell interests__icon"></i>
              <span class="interests__name">GYM</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
  <!--========== SCROLL TOP ==========-->
  <a href="#" class="scrolltop" id="scroll-top">
    <i class="bx bx-up-arrow-alt interests__icon"></i>
  </a>
</template>
